
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: none;
    color: black;
    padding: 10px;
    margin-top: 4px;
    border: solid 1px;
}

h1 {
    color: black;
    padding: 1em;
    text-align: center;
}
.nav {
    text-align: center;
    padding: 5px;
    height: auto;
  }
  a {
    text-align: center;
    padding: 5px;
    height: auto;
    color: black;
  }
header nav ul {
    margin: 2em;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
header nav ul li.active a {
    font-weight: bold;
}
/*section {
    display: block;
    border: solid black 0.1em;
    float: right;
    margin-right: 1em;
    margin-top: -33em;
}*/

#indexp {
padding: 20px;
margin-left: -10em;
margin-top: 10em;
text-align: left;
border: 1px solid black;
} 

#indexpic{
    padding: 20px;
    margin-left: -10em;
    margin-top: 10em;
    text-align: left;
    float: left;
    border: 1px solid black;
}

#content {
    padding: 20px;
    margin-left: -500px;
    text-align: left;
}

/*#content1 {
    width: 40em;
    padding: 20px;
    text-align: justify;
   background-color: #d8d8d8;
}*/

#portfolio {
    padding: 20px;
    text-align: justify;
    margin-left: 13em;
}

#indexpics {
    padding: 10px;
    text-align: right;
   background-color: none;
   padding: 1em;
}

.row {
    padding: 10px;
    text-align: right;
   background-color: none;
   padding: 1em;
}

#aboutinfo {
    padding: 10px;
    text-align: right;
   background-color: none;
    text-align: center;
    padding: 5px;
    color: black;
}

#aboutpicture{
    float: right;
    margin-top: -550px;
}
p.kenobi{
    text-align: right;
    padding: 5px;
    height: 1em;
    color: black;
  }

#copyright {
    padding: 10px;
    text-align: center;
   background-color: none;
   padding: 1em;
    width: 50em;
}


footer {
    background-color: rgb(188, 188, 188);
    color: black;
    padding: 10px;
    text-align: center;
    border-style: solid none none none;
}

header nav ul li a:hover {
    color: blueviolet;
}
