
/*body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: none;
    color: black;
    padding: 10px;
    margin-top: 4px;
    /*border: solid 1px;
}

h1 {
    color: black;
    padding: 1em;
    text-align: center;
}

nav {
    background: none;
    top: 0;
    width: 0%;
    transition: all 0.8s;
    position: relative;
    z-index: 1;
    margin-left: -1.2em;
}

/*.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-nav a {
    padding: 20px 20px;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px 20px;
    display: inline-block;
    color: black;
    background-color: inherit;
    border: none;
    font-size: 20px;
    transition: all 0.2s;
    text-transform: uppercase;

}

header nav ul li a:hover {
    color: blueviolet;
}

#indexp {
padding: 20px;
margin-left: -10em;
margin-top: 10em;
text-align: left;
border: 1px solid black;
} 

#indexpic{
    padding: 20px;
    margin-left: -10em;
    margin-top: 10em;
    text-align: left;
    float: left;
    border: 1px solid black;
}

#content {
    padding: 20px;
    margin-left: -500px;
    text-align: left;
}


#portfolio {
    padding: 20px;
    text-align: justify;
    margin-left: 13em;
}

#indexpics {
    padding: 10px;
    text-align: right;
   background-color: none;
   padding: 1em;
}

.row {
    padding: 10px;
    text-align: right;
   background-color: none;
   padding: 1em;
}

#aboutinfo {
    padding: 10px;
    text-align: right;
   background-color: none;
    text-align: center;
    padding: 5px;
    color: black;
}

#aboutpicture{
    float: right;
    margin-top: -550px;
}
p.kenobi{
    text-align: right;
    padding: 5px;
    height: 1em;
    color: black;
  }

#copyright {
    padding: 10px;
    text-align: center;
   background-color: none;
   padding: 1em;
    width: 50em;
}


footer {
    background-color: rgb(188, 188, 188);
    color: black;
    padding: 10px;
    text-align: center;
    border-style: solid none none none;
}*/



* {
    box-sizing: border-box;
    
}

/* styling fot the navbar */
nav {
    background: none;
    top: 0;
    width: 0%;
    transition: all 0.8s;
    position: relative;
    z-index: 1;
    margin-left: -1.2em;
}

/*.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-nav a {
    padding: 20px 20px;
}*/

nav ul {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px 20px;
    display: inline-block;
    color: black;
    background-color: inherit;
    border: none;
    font-size: 20px;
    transition: all 0.2s;
    text-transform: uppercase;

}

nav a:hover {
    color: rgb(83, 83, 83);
}
/*header {
    background-color: none;
    color: black;
    padding: 10px;
    margin-top: 4px;
    border: solid 1px;
}*/

header nav ul li a:hover {
    color: blueviolet;
}


/* Styling for page content */
html {
    box-sizing: border-box;
    background: #eeeeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h3 {
    font-family: 'Megrim', cursive;
}

.content {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 20px;
    margin: 10px 70px;
}

.creativecommons{
    font-size: 10px;
}

#storytext {
   font-size: 15px;
}

/*little story section*/

#stories {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 20px;
    padding-right: 20px;
    margin-right: 20px;
    width: 100%;
    
}
.sticky {
    padding-top: 60px;
    padding-right: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sticky p {
    min-width: 25vw;
}

h2 {
    grid-column: 1 /2;
    grid-row: 1 / 2;
}


/* Gallery styling */
.gallery {
    padding: 20px;
}

img {
    max-width: 900px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.view-button {
    border: none;
    background-color: rgba(204, 204, 204, 0.26);
    padding: 5px 9px 5px 9px;
    border-radius: 50%;
}

.view-button:hover {
    background-color: #666;
}


/* Modal styling */
 .open-modal {
    cursor: pointer;
    transition: 0.3s;
}

.open-modal:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.3s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1);}
}
.close-button {
    position: absolute;
    top: 25px;
    right: 35px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bolder;
    transition: 0.3s;
    border:none;
    background-color: rgba(0, 0, 0, 0);
}
.colse-button:hover,
.close-button:focus {
    color: rgb(112, 110, 110);
    text-decoration: none;
    
}
.colse-button:hover{
    color: #666;
}

#storybutton {
    display: none;
}
#closestory {
    display: none;
}




/* Small screens */
@media only screen and (max-width: 1050px) {

    .modal-content {
        width: 100%;
      }
  
    /*Nav bar*/
    .fixed-nav a {
      padding: 5px 5px;
      font-size: 10px;
    }
    
    nav ul {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      list-style: none;
      display: flex;
    }
    
    nav li {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
    }
    
    nav a {
      text-decoration: none;
      margin-top: 15px;
      padding: 3px 5px;
      display: inline-block;
      color: rgb(160, 160, 160);
      background-color: inherit;
      border: none;
      font-size: 10px;
      transition: all 0.2s;
      text-transform: uppercase;
    }
    h3 {
        font-family: 'Megrim', cursive;
    }

    /*story section*/
    html {
        box-sizing: border-box;
        background: #eeeeee;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        font-weight: 200;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
    }
    #stories {
       border: none;
       background-color: rgb(17, 17, 17);
       
       height: 100%;
       z-index: 1;
       color: bisque;
       font-size: 2em;
       position: fixed;
       left: 0;
       top: 38px;
       transition: 0.5s;
       overflow-x: hidden;
       padding: 0;
    }

    #storytext {
        display: block;
    }
 
    #storybutton {
      grid-row: 1;
      grid-column: 1;
      background-color: rgb(17, 17, 17);
      border: none;
      border-radius: 0% 10% 10% 0%;
      width: 35px;
      height: 40px;
      color: rgb(252, 241, 228);
      padding: 5px;
      display: block;
      top: 35px;
      left: 0;
      font-size: 20px;
      position: sticky;
      position: -webkit-sticky;
    }

    #closestory {
        background-color: rgb(17, 17, 17);
        border: none;
        width: 40px;
        height: 30px;
        color: bisque;
        padding: 5px;
        margin: 20px;
        display: block;
        position: absolute;
        right: 0;
        font-size: 20px;
        z-index: 2;
        text-align: center;
    }

    #closestory:hover {
        color: rgb(20, 94, 66);
        font-size: 21px;
        z-index: 2;
    }
    
    #storybutton:hover {
        color: rgb(20, 94, 66);
        font-size: 20px;
    }

    /*GALLERY*/
 
    .content {
        grid-template-columns: 1fr 60fr;
        margin: 0;
        margin-right: 30px;
        grid-gap: 0;
        grid-auto-flow: dense;
    }

    .gallery {
        margin-top: 40px;
        padding:0;
        grid-column: 2 / -1;
        grid-row: 1;
    }
    
    img {
        max-width: 700px;
        min-width: 120px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    
    .column {
        flex: 25%;
        padding: 0 4px;
    }
    
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
    
    .view-button {
        border: none;
        background-color: #ccc;
        padding: 5px 9px 5px 9px;
        border-radius: 50%;
        display: none;
    }
    
    .view-button:hover {
        background-color: #666;
    }
    
  }
